<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Submoduele Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Card Submoduele Tab 1</ion-card-title>
      <ion-card-subtitle>Submoduele Tab 1</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Totam eius vel quod voluptatibus eveniet.
      Omnis quo eos esse aliquid mollitia ullam nesciunt temporibus excepturi saepe quasi.
    </ion-card-content>
  </ion-card>

</ion-content>